header{
    display:flex;
    justify-content: space-between;
    background-color: antiquewhite;
}
.logo{
    font-size: 20px;
}
.logo img{
    height: 300px;
    width: 10px;
    margin-top: 20px;
    margin-left: 20px;
}
nav{
    margin: 20px;
    padding: 10px;
}
nav a{
    margin-right: 20px;
    font-size: 20px;
}
.img img{
    width: 125%;
    height: 420px;
}
.container{
    display: flex;
    background-color:gray
}
.img_container{
    display:grid;
    gap: 10px;
    grid-template-columns: repeat(2,13%);
}
.cc{
    margin: 30px;
    background-color: blanchedalmond;
}
.row1{
display:flex;
margin: 1%;
}
.product{
    text-align: center;
    border: 1px solid gray;
    margin: 5px;
    padding: 5px;
    
    border-radius: 4px;
}
.product img{
    height: 150px;
    width: 100px;
}
.product button{
    background-color: aquamarine;
    padding: 10px;
    border-radius: 15px;
}

