/*    style.css   */
body{
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: rgb(196, 255, 246);
}
nav{
    background: rgb(205, 210, 255);
    padding: 10px;
}
nav a{
    color:rgb(243, 240, 255);
    margin: 0 150px;
    text-decoration: none;

}
.container{
    margin: 50px auto;
    max-width: 600px;
    background: white;
    padding: 20px;
    box-shadow: 0px 0px 10px rebeccapurple(0,0,0,0,1);
    display: flex;
    justify-content: space-evenly;
}